[Desktop Entry]
Name=Griffith
GenericName=Griffith - A Movie Collection Manager
GenericName[pl]=Griffith - zarządca kolekcji filmów
GenericName[pt_PT]=Griffith - Um gestor de colecções de filmes
Comment=Movie Collection Manager
Comment[pl]=Zarządca kolekcji filmów
Comment[pt_PT]=Gerir uma colecção de filmes.
Comment[pt]=Gerir uma colecção de filmes.
Encoding=UTF-8
Exec=griffith
Icon=griffith
MimeType=application/x-executable
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=Griffith
Categories=GTK;GNOME;AudioVideo;
# vi: encoding=utf-8
